bin/
obj/

# DotNet
*.dbmdl
*.jfm
*.pidb
*.aps
*.ncrunch*
*_ReSharper.Caches

# Rider Cache Dateien
.idea/
*.sln.iml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries/
.idea/**/shelf/
.idea/modules.xml

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store